<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"></script>
    <!-- Your custom css styles go here -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="partials :: navbar"></div>

<div class="main-container container">


    <div class="Registration-box">

        <label for="start">Date of Birth</label>
        <input type="date" id="start" name="date-of-birth">

        <mapbox-address-autofill access-token="">
            <form id="Address-form">
                <h3>Address</h3>
                <div class="user-box">
                    <input class="text" name="" autocomplete="address-line1">
                    <label>Address</label>
                </div>
                <div class="user-box">
                    <input class="text" name="" autocomplete="address-line2">
                    <label>Apartment, suite, unit, etc.</label>
                </div>
                <div class="row">
                    <div class="col 4">
                        <div class="user-box">
                            <input class="text" name="" autocomplete="address-level2">
                            <label>City</label>
                        </div>
                    </div>
                    <div class="col 4">
                        <div class="user-box">
                            <input class="text" name="" autocomplete="address-level1">
                            <label>State / Region</label>
                        </div>
                    </div>
                    <div class="col 4">
                        <div class="user-box">
                            <input class="text" name=""  autocomplete="postal-code">
                            <label>ZIP / Postcode</label>
                        </div>
                    </div>
                </div>
                <a><button id="addressConfirmation">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button></a>
            </form>
        </mapbox-address-autofill>
    </div>
</div>



<div th:replace="~{partials :: scripts}"></div>
</body>
</html>
