* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    /*background: linear-gradient(to right top, #081b29, #03284e);*/
    background-image: linear-gradient(to right top, #0d2c5a, #03284e, #012442, #042035, #081b29);
    /*background: linear-gradient(to right top,  #0d2c5a, #03284e);*/
    margin:0;
    padding:0;
    color: #ededed;
}
html {
    height: 100%;
}
body {
    /*height: 100%;*/
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
    list-style: none;
}

#Registration-page, #login-page{
    background-color: #f5f5f5;
}

/* Sign up Steps Form */
#notComplete, #submitGood, #dbError {
    display:none;
}
#results {
    text-align:center;
    width:600px;
    margin: 50px auto 0;
    color:#222;
}

label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
}
#forgot-pass {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}

/*Social Security Number Input Format*/
/*.num{*/
/*    position:relative;*/
/*}*/

/*.ssn-number{*/
/*    position: absolute;*/
/*}*/

/*.ssn-value{*/
/*    position: relative;*/
/*    color: transparent !important;*/
/*    background: transparent;*/
/*}*/

.navbar button {
    background-color: transparent;
    border: transparent;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    color: #ededed;
    padding: 0;
}

.navbar button:hover{
    color: #03e9f4;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    color: #ededed;
}

.navbar a:hover{
    color: #03e9f4;
}

.home {
    height: 100vh;
    /*background: url(../img/MainImg.png) no-repeat;*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
    z-index: 101;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

/*.home-content h1::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to right top,  #0d2c5a, #03284e);*/
/*    !*background: #03284e;*!*/
/*    animation: showRight 1s ease forwards;*/
/*    animation-delay: 1s;*/
/*}*/

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #03e9f4;
}

/*.home-content h3::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to right top,  #0d2c5a, #03284e);*/
/*    !*background: #081b29;*!*/
/*    animation: showRight 1s ease forwards;*/
/*    animation-delay: 1.3s;*/
/*}*/

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

/*.home-content p::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to right top,  #0d2c5a, #03284e);*/
/*    !*background: #081b29;*!*/
/*    animation: showRight 1s ease forwards;*/
/*    animation-delay: 1.6s;*/
/*}*/

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

/*.home-content .btn-box::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(to right top,  #0d2c5a, #03284e);*/
/*    !*background: #081b29;*!*/
/*    animation: showRight 1s ease forwards;*/
/*    animation-delay: 1.9s;*/
/*    z-index: 2;*/
/*}*/

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #03e9f4;
    border: 2px solid #03e9f4;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #03e9f4;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #03e9f4;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #03e9f4;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

/*.home-sci::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #081b29;*/
/*    animation: showRight 1s ease forwards;*/
/*    animation-delay: 2.5s;*/
/*    z-index: 2;*/
/*}*/

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #03e9f4;
    border-radius: 50%;
    font-size: 20px;
    color: #03e9f4;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #03e9f4;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}


#card {
    max-width: 45%;
    margin: 50px auto;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#card-title {
    color: black;
    padding: 20px;
    text-align: center;
}

#card-title h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.form {
    padding: 20px;
}

.form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    margin-left: 1em
}

.form-content {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

.form-content:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#forgot-pass {
    font-size: 14px;
    font-weight: 500;
    color: #555;
    text-align: right;
    display: block;
    margin-top: 10px;
}

#signup {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
    text-align: center;
    text-decoration: none;
}

#signup:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #card {
        width: 90%;
    }

    .form-content {
        width: 100%;
        margin: 10px 0;
    }

    #forgot-pass, #signup {
        font-size: 14px;
    }
}

#signup {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn {
    background: -webkit-linear-gradient(right, #03e9f4, #22D8F3);
    border: none;
    border-radius: 25px;
    box-shadow: 0px 1px 8px #1BC2D8;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 43px;
    margin: 50px auto 0;
    transition: 0.25s;
    width: 100%;
}
#submit-btn:hover {
    box-shadow: 0px 1px 18px #1BC2D8;
}
.center {
    display: block;
    margin-left: auto;
    width: 50%;
}
