html, body {
    margin:0;
    padding:0;
    height: 100%;
    font-family: "Raleway", sans-serif;
    color: #555;
    /*font-family: sans-serif;*/
    /*background: linear-gradient(#141e30, #243b55);*/
    /*color: black;*/
}


/*Start of Login Modal Styling*/
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 60%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.modal h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.modal .user-box {
    position: relative;
}

.modal .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.modal .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.modal .user-box input:focus ~ label,
.modal .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.modal form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.modal a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.modal a span {
    position: absolute;
    display: block;
}

.modal a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.modal a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.modal a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.modal a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
.close-btn:hover {
    color: darkgray;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/*End of Login Modal Styling*/









/* Sign up Steps Form */
#notComplete, #submitGood, #dbError {
    display:none;
}
#results {
    text-align:center;
    width:600px;
    margin: 50px auto 0;
    color:#222;
}

/*form styles*/
#msform {
    width: 600px;
    margin-top: 7em;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 100%;
    margin: 0;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #222;
    font-size: 13px;
}
/*buttons styling*/
#msform .action-button {
    width: 100px;
    background: #03e9f4;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: #222;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: black;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #03e9f4;
    color: white;
}




/*Social Security Number Input Format*/
.num{
    position:relative;
}

.ssn-number{
    position: absolute;
}

.ssn-value{
    position: relative;
    color: transparent !important;
    background: transparent;
}

/* Start of Navbar Styling*/
#logoImg{
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3rem 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
    z-index: 2;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Amatic SC", sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}

nav{
    list-style: none;
}

.nav-link {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    transition: opacity 0.125s linear;
}
.nav-link:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.125s linear;
}
.nav-link:visited {
    color: inherit;
    text-decoration: none;
}
.first-container {
    background: url(../img/landingPageImg.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.nav-container {
    height: 100px;
    width: 100%;
    position: fixed;
    color: white;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
}
.nav-container.solid-nav {
    background-color: black;
    transition: background-color 0.2s linear;
}
/* End of Navbar Styling*/


ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: white;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #730C02;
    opacity: 1;
    transition: all 400ms;
    color: white;
}

a.btn:hover {
    background: #730C02;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px #730C02,
    0 0 25px #730C02
    /*0 0 50px #730C02*/
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #730C02;
    border: 0;
    margin-bottom: 50px;
}

/*Temporary Image Holders*/
.image-1 {background-image: url("https://images.unsplash.com/photo-1505852903341-fc8d3db10436?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=e2f72e62d5f4f04256dd9305d5f51f3c");}
.image-2 {background-image: url("https://images.unsplash.com/photo-1475483768296-6163e08872a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=20b3b1c3caef8c619ac3c75c07a7eafb");}
.image-3 {background-image: url("https://images.unsplash.com/photo-1490576198307-6ff97609a0cc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=a0dbd168637edc2cfdac3715ab23d519");}
.image-4 {background-image: url("https://images.unsplash.com/photo-1505483531331-fc3cf89fd382?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&s=4f305bbc0243f81f1bf6053a62d76297");}

section h3.title {
    text-transform: capitalize;
    font: bold 48px "Amatic SC", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}


/*Starting Main Landing Page Image Styling 'index.html'*/
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    width: 100%;
    background-position: center top;
    background-size:cover;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:100% auto;
    overflow: hidden;
    /*z-index: -1;*/
    background-color: #80a3db;
}

.hero h1 {
    font: 72px "Amatic SC", sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.hero h3 {
    font: 28px "Raleway", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.hero landing{
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }
}
/*Ending Main Landing Page Image Styling*/



/*Starting of Landing Page Section Two 'index.html'*/
.landingPageS2 .grid li {
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.landingPageS2 .grid li.small {
    flex-basis: 30%;
}

.landingPageS2 .grid li.large {
    flex-basis: 70%;
}

@media (max-width: 1100px) {
    .landingPageS2 .grid li.small,
    .landingPageS2 .grid li.large {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .landingPageS2 .grid li.small,
    .landingPageS2 .grid li.large {
        flex-basis: 100%;
    }
}
/*Ending of Landing Page Section Two*/


/*Starting of Landing Page Section Three 'index.html'*/
.landingPageS3 .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.landingPageS3 .grid li i {
    color: #e07e7b;
}

.landingPageS3 .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .landingPageS3 .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}
/*Ending of Landing Page Section Three*/

/*Starting Section Four 'index.html'*/
.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

@media (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        margin: 15px 0;
    }

    .testimonials .author {
        font-size: 14px;
    }
}
/*Ending of Landing Page Section Four*/


/*Starting of Landing Page Section Five*/
.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 18px 42px;
}

.contact form input {
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex: 1;
}

@media (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}
/*Ending of Landing Page Section Five*/


/*Starting of Footer Section*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #555;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}
/*Ending of Footer Section*/



/*label,*/
/*input {*/
/*    cursor: pointer;*/
/*}*/
/*h4{*/
/*    font-weight: 600;*/
/*    line-height: 1.3;*/
/*    color: #1f2949;*/
/*}*/

/*h4 {*/
/*    font-size: 14px;*/
/*}*/

/*img {*/
/*    max-width: 100%;*/
/*    display: block;*/
/*    vertical-align: middle;*/
/*}*/

/*.container {*/
/*    max-width: 99vw;*/
/*    margin: 15px auto;*/
/*    padding: 0 15px;*/
/*}*/

/*.tab-section-wrapper {*/
/*    padding: 30px 0;*/
/*}*/

/*.grid-wrapper {*/
/*    display: grid;*/
/*    grid-gap: 30px;*/
/*    place-items: center;*/
/*    place-content: center;*/
/*}*/

/*.grid-col-auto {*/
/*    grid-auto-flow: column;*/
/*    grid-template-rows: auto;*/
/*}*/

/*!* ******************* Main Styeles : Radio Card *!*/
/*label.radio-card {*/
/*    cursor: pointer;*/
/*}*/
/*label.radio-card .card-content-wrapper {*/
/*    background: #fff;*/
/*    border-radius: 5px;*/
/*    max-width: 280px;*/
/*    min-height: 330px;*/
/*    padding: 15px;*/
/*    display: grid;*/
/*    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);*/
/*    transition: 200ms linear;*/
/*}*/
/*label.radio-card .check-icon {*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    display: inline-block;*/
/*    border: solid 2px #e3e3e3;*/
/*    border-radius: 50%;*/
/*    transition: 200ms linear;*/
/*    position: relative;*/
/*}*/
/*label.radio-card .check-icon:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");*/
/*    background-repeat: no-repeat;*/
/*    background-size: 12px;*/
/*    background-position: center center;*/
/*    transform: scale(1.6);*/
/*    transition: 200ms linear;*/
/*    opacity: 0;*/
/*}*/
/*label.radio-card input[type=radio] {*/
/*    appearance: none;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*}*/
/*label.radio-card input[type=radio]:checked + .card-content-wrapper {*/
/*    box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.5), 0 0 0 2px #3057d5;*/
/*}*/
/*label.radio-card input[type=radio]:checked + .card-content-wrapper .check-icon {*/
/*    background: #3057d5;*/
/*    border-color: #3057d5;*/
/*    transform: scale(1.2);*/
/*}*/
/*label.radio-card input[type=radio]:checked + .card-content-wrapper .check-icon:before {*/
/*    transform: scale(1);*/
/*    opacity: 1;*/
/*}*/
/*label.radio-card input[type=radio]:focus + .card-content-wrapper .check-icon {*/
/*    box-shadow: 0 0 0 4px rgba(48, 86, 213, 0.2);*/
/*    border-color: #3056d5;*/
/*}*/
/*label.radio-card .card-content img {*/
/*    margin-bottom: 10px;*/
/*}*/
/*label.radio-card .card-content h4 {*/
/*    font-size: 16px;*/
/*    letter-spacing: -0.24px;*/
/*    text-align: center;*/
/*    color: #1f2949;*/
/*    margin-bottom: 10px;*/
/*}*/
/*label.radio-card .card-content h5 {*/
/*    font-size: 14px;*/
/*    line-height: 1.4;*/
/*    text-align: center;*/
/*    color: #686d73;*/
/*}*/
