<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>

<!--Reusable Navbar-->
<th:block th:fragment="navbar">
<!--  class="navbar fixed-top navbar-expand-lg"-->
<!--  <nav>-->
    <header class="nav-container">
      <a href="/Landing">
        <img class="navbar-brand" src="../static/img/allWhiteLogo.svg" alt="nav-logo" th:src="@{/img/allWhiteLogo.svg}" id="logoImg"/>
      </a>
      <nav>
        <li><a class="nav-link" href="/Pricing">Pricing</a></li>
        <li><a class="nav-link" href="/AboutUs">About Us</a></li>
        <li><a class="nav-link" href="/login">Login</a></li>
        <li><a class="nav-link" href="/register">Sign Up</a></li>
      </nav>
    </header>
<!--  </nav>-->
</th:block>

<!--&lt;!&ndash;Landing Page Navbar&ndash;&gt;-->
<!--<th:block th:fragment="landingNavbar">-->
<!--  &lt;!&ndash;  class="navbar fixed-top navbar-expand-lg"&ndash;&gt;-->
<!--  <nav>-->
<!--    <header class="nav-container">-->
<!--      <a href="/Landing">-->
<!--        <img class="navbar-brand" src="../static/img/allWhiteLogo.svg" alt="nav-logo" th:src="@{/img/allWhiteLogo.svg}" id="logoImg"/>-->
<!--      </a>-->
<!--      <nav>-->
<!--        <li><a class="nav-link" href="/Pricing">Pricing</a></li>-->
<!--        <li><a class="nav-link" href="/AboutUs">About Us</a></li>-->
<!--        <li><a class="nav-link" href="/login">Login</a></li>-->
<!--        <li><a class="nav-link" href="/register">Sign Up</a></li>-->
<!--      </nav>-->
<!--    </header>-->
<!--  </nav>-->
<!--</th:block>-->

<!--All Script Tags-->
<th:block th:fragment="scripts">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
  <script type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/cc15ef4101.js" crossorigin="anonymous"></script>
  <script th:src="@{../static/js/api_keys.js}"></script>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/modal.js}"></script>
</th:block>

</body>

</html>
