<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"></script>
    <!-- Your custom css styles go here -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<div th:replace="partials :: navbar"></div>

<div class="main-container">
    <div class="columns pricing">
        <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">$ 5 / month</li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" class="button pricingTable-firstTable_table__getstart">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns pricing">
        <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">$ 2 / month</li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" class="button pricingTable-firstTable_table__getstart">Sign Up</a></li>
        </ul>
    </div>

    <div class="columns pricing">
        <ul class="price">
            <li class="header">Basic</li>
            <li class="grey">$ 25 / One Time</li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" class="button pricingTable-firstTable_table__getstart">Sign Up</a></li>
        </ul>
    </div>
</div>



<div th:replace="~{partials :: scripts}"></div>
</body>
</html>
