<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.14/web.js"></script>
    <!-- Your custom css styles go here -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body id="Pricing">

<!--<div th:replace="partials :: navbar"></div>-->

<div class="pricingTable">
    <h2 class="pricingTable-title">Find a plan that's right for you.</h2>
    <h3 class="pricingTable-subtitle">Every plan comes with a 30-day   free trial.</h3>

    <ul class="pricingTable-firstTable">
        <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Bronze Packege</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>10</span><span>Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
                <li>Unlimited Listing</li>
                <li>Edit Your Listing</li>
                <li>Approve Reviews</li>
            </ul>
            <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
        </li><li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">Gold Packege</h1>
        <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>19</span><span>Month</span></p>
        <ul class="pricingTable-firstTable_table__options">
            <li>Unlimited Listing</li>
            <li>Edit Your Listing</li>
            <li>Approve Reviews</li>
            <li>Take Booking Online</li>
            <li>24/7 Support Service</li>
        </ul>
        <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
    </li><li class="pricingTable-firstTable_table">
        <h1 class="pricingTable-firstTable_table__header">Platinum Packege</h1>
        <p class="pricingTable-firstTable_table__pricing"><span>$</span><span>49</span><span>Month</span></p>
        <ul class="pricingTable-firstTable_table__options">
            <li>Unlimited Listing</li>
            <li>Edit Your Listing</li>
            <li>Approve Reviews</li>
        </ul>
        <button class="pricingTable-firstTable_table__getstart">Get Started Now</button>
    </li>
    </ul>
</div>


<div th:replace="~{partials :: scripts}"></div>
</body>
</html>
